.container {
    background-color: red;
    color: white;
    border: black;
    margin-top: 50px;
}

.col {
    border: 1px solid dimgrey;
    height: 200px;
    width: 100px;
}
.bd-example{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}