.container {
    background-color: lightgrey;
    color: white;
    border: black;
}

.col {
    border: 1px solid dimgrey;
}
.bd-example{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}